.logo{
    display: flex;
    align-items: center;
}
.logo-text{
    height: 20px;
    width: 20px;
}
.img-logo{
    height: 20px;
    width: 20px;
}
/* home section styles */
.one{
    margin: 10px;
    padding: 10px;
}
.one h2{
    text-align: center;
}
.one p{
    margin: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home2{
    margin: 10px;
    padding: 10px;
    display: flex;

}
.two{
    box-sizing: border-box;
    align-items: center;
    width: 50vw;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    border-color: black;
    background-color: azure;
}
.three{
    box-sizing: border-box;
    align-items: center;
    width: 50vw;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    border-color: black;
    background-color: azure;

}
.two ul{
 list-style: none;
 align-items: center;
}
.three ul{
    list-style: none;
    align-items: center;
}

/* footer styles */
footer{
    
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#2193b0,#6dd5ed); 
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}
body{
   background: linear-gradient(#2193b0,#6dd5ed); 
}
.fcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.fcontent h3{
    color: black;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.fcontent p{
    color: black;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    
}
.link-external{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.link-external li{
    margin: 0 10px;
}

.link-external a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.link-external a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.link-external a:hover i{
    color: black;
}
.fbottom{
    background: linear-gradient(#2193b0,#6dd5ed); 
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
@media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }